




<div class="section-hero-banner">
  <div class="section-image-banner__image">
    <img src="https://via.placeholder.com/150" alt="placeholder">
  </div>
  <div class="section-image-banner__content">
    <h2>Section Image Banner</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
  </div>