{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "textarea",
        "label": "Description",
        "id": "description"
      }
    ],
    "presets": [
      {
        "category": "Custom",
        "name": "Default",
        "settings": {
          "description": "This is a description"
        }
      }
    ]
  }
{% endschema %}

{%- assign array_string = "1,3,4,6,8" -%}
{% assign array = array_string | split: "," %}

/

<div class="hero-banner">
  <h1>{{ section.settings.description }}</h1>
  {% for item in array %}
    {{ item }}
  {% endfor %}
  {% for product in collection.products %}
    {{ product.title }}
  {% else %}
    This collection is empty.
  {% endfor %}
  <!-- Add your desired content and styling for the hero banner here -->
</div>